<div class="form-group">
    <h3 class="num">13</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica">Capacidad y medición de tanques de agua</h2>
    <p class="testa">Método: Verificar que por lo menos exista un tanque de agua principal presurisado o sin presurisar que no exceda de 125 l/m³ (25 galones por yarda cúbica). Pedir planos de los tanques de agua.</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
          <label class="btn active">
            <input type="radio" name='lavado1' ng-model="formData.lavado1" value="1"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
          <label class="btn">
            <input type="radio" name='lavado1' ng-model="formData.lavado1" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado1obs">
</div>
<div class="form-group">
    <h3 class="num">14</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica">Equipamiento de tanques de agua</h2>
    <p class="testa">Método: Verificar si tienen medidor de caudal que tengan tuberías para revisar su calibración; si tienen dispositivos de medición ópticos, que su escala sea visible en todo el rango; que tenga mirilla. instrumento: calibrador</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
          <label class="btn active">
            <input type="radio" name='lavado2' ng-model="formData.lavado2" value="1"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
          <label class="btn">
            <input type="radio" name='lavado2' ng-model="formData.lavado2" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado2obs">
</div>
<div class="form-group">
    <h3 class="num">15</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica">Bomba de agua (solo si no es presurizado aplica)</h2>
    <p class="testa">Método: Verificar que exista una bomba de agua u otro medio para alimentar agua en el sistema de lavado.</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
          <label class="btn active">
            <input type="radio" name='lavado3' ng-model="formData.lavado3" value="1"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
          <label class="btn">
            <input type="radio" name='lavado3' ng-model="formData.lavado3" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado3obs">
</div>
<div class="form-group">
    <h3 class="num">16</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica">Mangueras</h2>
    <p class="testa">Método: Verificar que el tramo de manguera para agua cumple con 1" de diámetro, y 3 metros de longitud. El principio y fin de cada manguera se asegura con un abrazadera en cada extremo.</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
          <label class="btn active">
            <input type="radio" name='lavado4' ng-model="formData.lavado4" value="1"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
          <label class="btn">
            <input type="radio" name='lavado4' ng-model="formData.lavado4" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado4obs">
</div>
<div class="form-group">
    <h3 class="num">17</h3>
    <h4 class="medir ambos">MEDIR EN AMBOS</h4>
    <h2 class="especifica">Presión de tanques de agua (solo si es presurizado aplica)</h2>
    <p class="testa">Método: Verificar que los sistemas a base de aire a presión no exceden los 551.58 kPa(80 psi)</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
          <label class="btn active">
            <input type="radio" name='lavado4' ng-model="formData.lavado4" value="1"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
          <label class="btn">
            <input type="radio" name='lavado4' ng-model="formData.lavado4" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado4obs">
</div>
<hr />
<button class="btn btn-primary btn-lg" ng-click="comenzarGeneral()">COMENZAR SECCIÓN SISTEMA GENERAL</button>
