<div id="RanteriorTambor" class="RanteriorTambor trasero">
    <p class="seccion {{seccion}}">TOTAL PEDESTAL TRASERO</p>
    <div class="medidor">
        <h3>{{ scorePedestalTrasero() }}</h3>
        <h4>POSIBLES 50</h4>
    </div>
</div>

<div class="termometro seccion" ng-show="termometro">
    <p class="seccion {{seccion}}">TOTAL SISTEMA DE LAVADO</p>
    <div class="medidor">
        <h3 class="total">{{ scoreLavado() }}</h3>
        <h4>POSIBLES 50</h4>
    </div>
</div>
<div class="form-group">
    <h3 class="num">13</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Capacidad y medición de tanques de agua</h2>
    <p class="testa">Método: Verificar que por lo menos exista un tanque de agua principal presurisado o sin presurisar que no exceda de 125 l/m³ (25 galones por yarda cúbica). Pedir planos de los tanques de agua.</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='lavado1' ng-model="formData.lavado1" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
            <label class="btn">
            <input type="radio" name='lavado1' ng-model="formData.lavado1" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado1obs">
</div>
<div class="form-group">
    <h3 class="num">14</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Equipamiento de tanques de agua</h2>
    <p class="testa">Método: Verificar si tienen medidor de caudal que tengan tuberías para revisar su calibración; si tienen dispositivos de medición ópticos, que su escala sea visible en todo el rango; que tenga mirilla. instrumento: calibrador</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='lavado2' ng-model="formData.lavado2" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
            </label>
            <label class="btn">
            <input type="radio" name='lavado2' ng-model="formData.lavado2" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
            </label>
            <label class="btn">
                    <input type="radio" name='lavado2' ng-model="formData.lavado2" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO APLICA</span>
                    </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado2obs">
</div>
<div class="form-group">
    <h3 class="num">15</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Bomba de agua (solo si no es presurizado aplica)</h2>
    <img src="img/lavado1.jpg" alt="" title="" class="sombra" style="margin-bottom:20px;">
    <p class="testa">Método: Verificar que exista una bomba de agua u otro medio para alimentar agua en el sistema de lavado.</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">

            <label class="btn active">
            <input type="radio" name='lavado3' ng-model="formData.lavado3" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
            </label>

            <label class="btn">
            <input type="radio" name='lavado3' ng-model="formData.lavado3" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
            </label>

            <label class="btn">
            <input type="radio" name='lavado3' ng-model="formData.lavado3" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO APLICA</span>
            </label>

        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado3obs">
</div>
<!-- <div class="form-group">
    <h3 class="num">16</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <img src="img/lavado2.jpg" alt="" title="" class="sombra">
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Mangueras</h2>
    <p class="testa">Método: Verificar que el tramo de manguera para agua cumple con 1" de diámetro, y 3 metros de longitud. El principio y fin de cada manguera se asegura con un abrazadera en cada extremo. Verificar con hilo o visualizar las especificaciones en la manguera.</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='lavado4' ng-model="formData.lavado4" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
            <label class="btn">
            <input type="radio" name='lavado4' ng-model="formData.lavado4" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado4obs">
</div>-->
<div class="form-group">
    <h3 class="num">16</h3>
    <h4 class="medir ambos">MEDIR EN AMBOS</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Presión de tanques de agua (solo si es presurizado aplica)</h2>
    <img src="img/general2.jpg" alt="" title="" class="sombra" data-toggle="modal" data-target="#presion" style="margin-bottom:20px;">
    <p class="testa">Método: Verificar que los sistemas a base de aire a presión no excedan los 551.58 kpa (80 psi)</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='lavado5' ng-model="formData.lavado5" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> SI CUMPLE</span>
          </label>
            <label class="btn">
            <input type="radio" name='lavado5' ng-model="formData.lavado5" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
            <label class="btn">
                <input type="radio" name='lavado5' ng-model="formData.lavado5" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO APLICA</span>
              </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.lavado5obs">
    <input type="hidden" value="{{ scoreLavado() }}" ng-model="formData.totalLavado">
    <div id="presion" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--<img src="img/tambor1.jpg" alt="" title="" class="img-responsive margen center-block">-->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JRgVTzSWZDA?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


</div>
<hr />
<button class="btn btn-primary btn-lg" ng-click="comenzarGeneral()">COMENZAR SECCIÓN SISTEMA GENERAL</button>