<div ng-show="enviando">
    <div class="termometro seccion" ng-show="termometro">
        <p class="seccion {{seccion}}">TOTAL SECCIÓN</p>
        <div class="medidor">
            <h3 class="total">{{ scoreLuces() }}</h3>
        </div>
    </div>
    <div class="form-group">
        <h3 class="num">23</h3>
        <h4 class="medir ambos">MEDIR EN AMBOS</h4>
        <h2 class="especifica">Funcionalidad de las luces de alto</h2>
        <div class="form-group nueva">
            <div class="btn-group btn-group-horizontal">
                <label class="btn active">
            <input type="radio" name='luces1' ng-model="formData.luces1" value="1"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
                <label class="btn">
            <input type="radio" name='luces1' ng-model="formData.luces1" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
            </div>
        </div>
        <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.luces1obs">
    </div>
    <div class="form-group">
        <h3 class="num">24</h3>
        <h4 class="medir ambos">MEDIR EN AMBOS</h4>
        <h2 class="especifica">Funcionalidad de las luces de reversa</h2>
        <div class="form-group nueva">
            <div class="btn-group btn-group-horizontal">
                <label class="btn active">
            <input type="radio" name='luces2' ng-model="formData.luces2" value="1"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
                <label class="btn">
            <input type="radio" name='luces2' ng-model="formData.luces2" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
            </div>
        </div>
        <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.luces2obs">
        <input type="hidden" value="{{ scoreLuces() }}" ng-model="formData.totalLuces">
    </div>
    <hr />
    <button class="btn btn-primary btn-lg" ng-click="calcularTodo()">CALCULAR RESULTADOS</button>
</div>
<div ng-show="enviado" class="resultadosfinales">
    <div class="row">
        <div class="col-md-12">
            <h1>RESULTADOS FINALES</h1>
            <h3>{{ formData.fabricante }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <h2>RESULTADOS TAMBOR<br><span style="color: #ff0000;position: absolute;width: 100%;left: 0;top: 80px;font-size: 14px;">10 puntos posibles</span></h2>
                    <h3>{{ scoreTambor() }}</h3>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS PEDESTAL FRONTAL<br><span style="color: #ff0000;position: absolute;width: 100%;left: 0;top: 80px;font-size: 14px;">4 puntos posibles</span></h2>
                    <h3>{{ scorePedestalFrontal() }}</h3>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS PEDESTAL TRASERO<br><span style="color: #ff0000;position: absolute;width: 100%;left: 0;top: 80px;font-size: 14px;">5 puntos posibles</span></h2>
                    <h3>{{ scorePedestalTrasero() }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>RESULTADOS SISTEMA DE LAVADO<br><span style="color: #ff0000;position: absolute;width: 100%;left: 0;top: 80px;font-size: 14px;">5 puntos posibles</span></h2>
                    <h3>{{ scoreLavado() }}</h3>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS SISTEMA GENERAL<br><span style="color: #ff0000;position: absolute;width: 100%;left: 0;top: 80px;font-size: 14px;">19 puntos posibles</span></h2>
                    <h3>{{ scoreGeneral() }}</h3>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS LUCES<br><span style="color: #ff0000;position: absolute;width: 100%;left: 0;top: 80px;font-size: 14px;">2 puntos posibles</span></h2>
                    <h3>{{ scoreLuces() }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2>RESULTADO TOTAL</h2>
                    <h3>{{ scoreTotal() | number: 2 }}</h3>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-6">
            <script>
                var chart = AmCharts.makeChart("chartdiv", {
                    "type": "radar",
                    "theme": "light",
                    "dataProvider": [{
                        "country": "Tambor",
                        "litres": 156.9
                    }, {
                        "country": "Pedestal-Frontal",
                        "litres": 131.1
                    }, {
                        "country": "Pedestal-Trasero",
                        "litres": 115.8
                    }, {
                        "country": "Sistema-Lavado",
                        "litres": 109.9
                    }, {
                        "country": "Sistema-General",
                        "litres": 108.3
                    }, {
                        "country": "Sistema-Luces",
                        "litres": 99
                    }],
                    "valueAxes": [{
                        "axisTitleOffset": 20,
                        "minimum": 0,
                        "axisAlpha": 0.15
                    }],
                    "startDuration": 2,
                    "graphs": [{
                        "balloonText": "[[value]] litres of beer per year",
                        "bullet": "round",
                        "lineThickness": 2,
                        "valueField": "litres"
                    }],
                    "categoryField": "country",
                    "export": {
                        "enabled": true
                    }
                });
            </script>
            <div id="chartdiv"></div>
        </div>

    </div>


    <hr>
    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">REGISTRAR DATOS DE CERTIFICACIÓN</button>
</div>