<div id="RanteriorTambor" class="RanteriorTambor trasero">
    <p class="seccion {{seccion}}">TOTAL SISTEMA GENERAL</p>
    <div class="medidor">
        <h3>{{ scoreGeneral() }}</h3>
        <h4>POSIBLES 190</h4>
    </div>
</div>


<div ng-show="enviando">
    <div class="termometro seccion" ng-show="termometro">
        <p class="seccion {{seccion}}">TOTAL SISTEMA DE LAVADO</p>
        <div class="medidor">
            <h3 class="total">{{ scoreLuces() }}</h3>
            <h4>POSIBLES 20</h4>
        </div>
    </div>
    <div class="form-group">
        <h3 class="num">23</h3>
        <h4 class="medir ambos">MEDIR EN AMBOS</h4>
        <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Funcionalidad de las luces de alto</h2>
        <h3 class="text-alert critico">* Elemento no determinante.</h3>
        <div align="center" style="margin:10px 0;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oHB31udHE0Q?ecver=1" style="border: 10px solid #333;" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="form-group nueva">
            <div class="btn-group btn-group-horizontal">
                <label class="btn active">
            <input type="radio" name='luces1' ng-model="formData.luces1" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
                <label class="btn">
            <input type="radio" name='luces1' ng-model="formData.luces1" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
            </div>
        </div>
        <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.luces1obs">
    </div>
    <div class="form-group">
        <h3 class="num">24</h3>
        <h4 class="medir ambos">MEDIR EN AMBOS</h4>
        <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Funcionalidad de las luces de reversa</h2>
        <h3 class="text-alert critico">* Elemento no determinante.</h3>
        <div class="form-group nueva">
            <div class="btn-group btn-group-horizontal">
                <label class="btn active">
            <input type="radio" name='luces2' ng-model="formData.luces2" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
                <label class="btn">
            <input type="radio" name='luces2' ng-model="formData.luces2" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
            </div>
        </div>
        <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.luces2obs">
        <input type="hidden" value="{{ scoreLuces() }}" ng-model="formData.totalLuces">
    </div>
    <hr />
    <button class="btn btn-primary btn-lg" ng-click="calcularTodo()">CALCULAR RESULTADOS</button>
</div>
<div ng-show="enviado" class="resultadosfinales">
    <div class="row">
        <div class="col-md-12">
            <h1>RESULTADOS FINALES</h1>
            <h3>{{ formData.fabricante }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <h2>RESULTADOS TAMBOR<br><span class="resultax">de 150 puntos posibles</span></h2>
                    <h3 id="tt1" ng-bind="scoreTambor() | number"></h3>
                    <h2 class="resultaxnd">TOTAL PUNTOS NO DETERMINANTES:<br>{{NDscoreTambor}} </h2>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS PEDESTAL FRONTAL<br><span class="resultax">de 40 puntos posibles</span></h2>
                    <h3>{{ scorePedestalFrontal() }}</h3>
                    <h2 class="resultaxnd">TOTAL PUNTOS NO DETERMINANTES:<br>{{NDscorePedestal}} </h2>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS PEDESTAL TRASERO<br><span class="resultax">de 50 puntos posibles</span></h2>
                    <h3>{{ scorePedestalTrasero() }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>RESULTADOS SISTEMA DE LAVADO<br><span class="resultax">de 50 puntos posibles</span></h2>
                    <h3>{{ scoreLavado() }}</h3>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS SISTEMA GENERAL<br><span class="resultax">de 190 puntos posibles</span></h2>
                    <h3>{{ scoreGeneral() }}</h3>
                </div>
                <div class="col-md-4">
                    <h2>RESULTADOS LUCES<br><span class="resultax">de 20 puntos posibles</span></h2>
                    <h3>{{ scoreLuces() }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h2 style="background:#ff0000;color:#ffffff;padding-top: 30px;border-radius: 50px;">PUNTOS TOTALES</h2>
                    <h3>{{ puntosTotales() }}</h3>
                    <h4 class="ppsob" style="font-size:15px;">DE 440 PUNTOS POSIBLES</h4>
                </div>
                <div class="col-md-5">
                    <h2 style="background:#ff0000;color:#ffffff;padding-top: 30px;border-radius: 50px;">PORCENTAJE TOTAL</h2>
                    <h3>{{ scoreTotal() | number: 2 }} %</h3>
                    <h4 class="ppsob" style="font-size:15px;">DEL 100% POSIBLE</h4>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="chartdiv"></div>
        </div>

    </div>


    <hr>
    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">REGISTRAR DATOS DE CERTIFICACIÓN</button>
</div>

<div ng-show="diploma">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/logo-imcyc-diploma.svg" class="img-responsive" alt="" title="" width="200">
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>CERTIFICACIÓN DE OLLAS DE CONCRETO</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>