<div id="RanteriorTambor" class="RanteriorTambor b">
    <p class="seccion {{seccion}}">TOTAL S. TAMBOR</p>
    <div class="medidor">
        <h3>{{ scoreTambor() }}</h3>
        <h4>POSIBLES 160</h4>
    </div>
</div>

<div ng-bind-html-unsafe="html"></div>

<div id="tamborR">Pedestal Frontal</div>

<div class="termometro seccion b" ng-show="termometro">
    <p class="seccion {{seccion}}">TOTAL PEDESTAL FRONTAL</p>
    <div class="medidor">
        <h3 class="total">{{ scorePedestalFrontal() }}</h3>
        <h4>POSIBLES 40</h4>
    </div>
</div>

<div class="form-group">
    <h3 class="num">11</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Fijación del pedestal frontal</h2>
    <p class="testa">Método: Verificar que el pedestal frontal esté anclado a los largueros del chasis mediante ángulos de sujeción y tornillería, con un torque de 170.55 Kg (376 lb)</p>
    <p class="especi">Instrumento: torquímetro</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='pedestal1' ng-model="formData.pedestal1" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
            <label class="btn">
            <input type="radio" name='pedestal1' ng-model="formData.pedestal1" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.pedestal1obs">
</div>
<div class="form-group">
    <h3 class="num">11.1</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Revisar que los ángulos de fijación del pedestal internos se encuentren fijos.</h2>
    <img src="img/pedestalfrontal1.png" alt="" title="" class="img-responsive sombra margen center-block">
    <p class="testa">Método: Realizar una inspección visual </p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='pedestal2' ng-model="formData.pedestal2" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
            <label class="btn">
            <input type="radio" name='pedestal2' ng-model="formData.pedestal2" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.pedestal2obs">
</div>
<div class="form-group">
    <h3 class="num">11.2</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Revisar que los ángulos de fijación del pedestal externos tengan holgura.</h2>
    <img src="img/pedestalfrontal2.png" alt="" title="" class="img-responsive sombra margen center-block">
    <p class="testa">Método: Realizar una inspección visual</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='pedestal3' ng-model="formData.pedestal3" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
            <label class="btn">
            <input type="radio" name='pedestal3' ng-model="formData.pedestal3" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.pedestal3obs">
</div>
<div class="form-group">
    <h3 class="num">11.3</h3>
    <h4 class="medir planta">MEDIR EN PLANTA</h4>
    <h2 class="especifica"><i class="fa fa-chevron-right" aria-hidden="true"></i> Debe de existir holgura entre la placa del ángulo de sugeción del pedestal y la placa del ángulo del chasis.</h2>
    <p class="testa">Método: Realizar una inspección visual</p>
    <div class="form-group nueva">
        <div class="btn-group btn-group-horizontal">
            <label class="btn active">
            <input type="radio" name='pedestal4' ng-model="formData.pedestal4" value="10"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>  SI CUMPLE</span>
          </label>
            <label class="btn">
            <input type="radio" name='pedestal4' ng-model="formData.pedestal4" value="0"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> NO CUMPLE</span>
          </label>
        </div>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Observaciones" ng-model="formData.pedestal4obs">
    <input type="hidden" value="{{ scorePedestalFrontal() }}" ng-model="formData.totalPedestalFrontal">
</div>
<hr />
<button class="btn btn-primary btn-lg" ng-click="comenzarPedestalTrasero()">COMENZAR SECCIÓN PEDESTAL TRASERO</button>